<div id="main" class="container-fluid">
 <h3 class="page-header">Lista de Tarefas - <%= @task_list.name %></h3>
  <div id="notice"></div>
  <div class="row">
    <div class="col-md-4">
      <p><strong>Pública?</strong></p>
      <p><%= @task_list.is_public %></p>
    </div>
    <div class="col-md-4">
      <p><strong>Fechada?</strong></p>
      <p><%= @task_list.done %></p>
    </div>
    <div class="col-md-4">
      <p><strong>Criador</strong></p>
      <p><%= @task_list.user.email %></p>
    </div>
  </div>
  <hr />
  <div class="well row">
    <h4>Tarefas</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
          <% @task_list.tasks.each do |task| %>
            <tr>
              <td><%= task.description %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div id="actions" class="row">
  <div class="col-md-12">
    <%= link_to "Voltar", task_lists_path, class: "btn btn-default" %>
  </div>
</div>
